* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Lalezar", Tahoma, sans-serif;
}

.skill,
.cert,
.link-btn,
.nav-button {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

#visit-project {
  letter-spacing: 1.5px;
  font-size: 15px;
}

@font-face {
  font-family: "Lalezar";
  src: url("fonts/Lalezar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.about {
  letter-spacing: 2px;
}
body {
  background: #f4f4ec;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  background: #f7f7ec;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.header {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  flex-wrap: wrap;
  gap: 50px;
}
.project-view {
  color: #764ba2;
  user-select: none;
  transition: color 0.3 linear;
}
.project-view:hover {
  color: #9b59b6;
}
#about-image {
  display: block;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0;
}

#avatar-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0;
  border: 3px solid #764ba2;
}

h1 {
  color: #555;
  margin-bottom: 5px;
  font-size: 32px;
}
.age {
  color: #555;
  font-size: 18px;
  margin-bottom: 10px;
}

.age span {
  color: #764ba2;
  font-weight: bold;
}

.section {
  background: #f4f4ec;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #c1bdb9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
h2 {
  color: #555;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

h2::before {
  content: attr(data-icon);
  font-size: 24px;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.skill {
  background-color: #f7f7ec;
  padding: 10px 20px;
  border-radius: 10px;
  color: #764ba2;
  border: 1px solid #764ba2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  flex-basis: 130px;
  align-content: center;
  flex-shrink: 1;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: fit-content;
  justify-content: space-around;
}

.project-card {
  background-color: #f7f7ec;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  margin: 0;
  border: 1px solid #764ba2;
  flex-grow: 1;
  transition: all 0.3s linear;
}

.project-card h3 {
  color: #764ba2;
  margin-bottom: 10px;
}

.project-card p {
  color: #555;
  margin-bottom: 15px;
  font-size: 12px;
  flex-wrap: wrap;
}

#certificates {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cert {
  background-color: #f7f7ec;
  padding: 8px 15px;
  border-radius: 10px;
  color: #764ba2;
  border: 1px solid #764ba2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  text-align: center;
  flex-basis: 150px;
  align-content: center;
  flex-shrink: 1;
}

.links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.link-btn {
  background-color: #f7f7ec;
  padding: 25px 25px;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: 0.3s;
  border: 1px solid #764ba2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  flex-wrap: wrap;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}
.link-btn:hover {
  background-color: #764ba2;
  color: #f7f7ec;
  transition: all 0.3s linear;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
  color: #666;
  font-size: 14px;
  background: #f7f7ec;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #c1bdb9;
}

.cert:hover {
  background-color: #764ba2;
  color: #f7f7ec;
  transition: all 0.5s linear;
}

.skill:hover {
  background-color: #764ba2;
  color: #f7f7ec;
  transition: all 0.5s linear;
}

.project-card:hover {
  box-shadow: 0 3px 5px rgba(103, 24, 182, 0.489);
}

#quera::before {
  content: "💾";
}

#footer-span {
  letter-spacing: 1px;
  font-family: "Lalezar", Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

button,
.skill,
.cert,
.link-btn,
.nav-button,
.check {
  user-select: none;
}
#visit-project,
#visit-project-2 {
  letter-spacing: 1.5px;
  font-size: 15px;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f7f7ec;
}

::-webkit-scrollbar-thumb {
  background: #764ba2;
  border-radius: 5px;
}

.project-card p {
  flex-wrap: wrap;
}

#footer-year {
  color: #764ba2;
}

#nav {
  border-radius: 10px;
  padding: 20px 15px;
  margin-bottom: 15px;
  border: 1px solid #c1bdb9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  transition: all 0.3s linear;
  background: #f7f7ec;
}

.nav-button {
  background-color: #f7f7ec;
  padding: 3px;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
  border: 1px solid #764ba2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  margin: 3px;
  margin-left: 5px;
  flex-grow: 0.5;
  justify-content: center;
}

.nav-button,
.nav-button::after {
  transition: all 0.3s linear;
}

.nav-button:hover {
  background-color: #764ba2;
  color: #f7f7ec;
  transition: all 0.3s linear;
}

#nav:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

#about {
  font-size: 14px;
}

/*
ریسپانسیو سازی
*/
@media (max-width: 600px) {
  .skill {
    font-size: 14px;
  }

  #nav {
    flex-wrap: wrap;
  }

  .nav-button {
    font-size: 14px;
  }

  .link-btn {
    padding: 20px 20px;
  }

  .links {
    gap: 15px;
  }

  .cert {
    flex-basis: 150px;
  }

  .project-card h3 {
    color: #764ba2;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .skill {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .about {
    font-size: 12px;
  }

  .link-btn {
    padding: 15px 15px;
  }
}

@media (max-width: 400px) {
  .skill {
    font-size: 14px;
  }

  .nav-button {
    font-size: 12px;
  }

  .link-btn {
    padding: 10px 10px;
  }
}

/* حالت تیره */
.dark-mode-btn {
  background-color: #764ba2;
  padding: 5px 5px;
  border-radius: 10px;
  color: #f7f7ec;
  border: 1px solid #f7f7ec;
  box-shadow: 0 1px 3px rgba(103, 24, 182, 0.489);
  transition: all 0.3s linear;
  display: flex;
  margin: 3px;
  opacity: 0.9;
  position: sticky;
  top: 5px;
  z-index: 1;
  cursor: pointer;
}

.dark-mode-btn:hover {
  background-color: #9b59b6;
  opacity: 1;
}

body.dark-mode {
  background: #121212;
  color: #f7f7ec;
}
body.dark-mode h2 {
  color: #f7f7ec;
}
body.dark-mode .container,
body.dark-mode .project-card {
  background: #121412bc;
  color: #f7f7ec;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  border: 1px solid #764ba2;
}

body.dark-mode .section,
body.dark-mode .skill,
body.dark-mode .cert,
body.dark-mode .nav-button,
body.dark-mode #nav {
  background: #181a18;
  transition: all 0.2s linear;
}
body.dark-mode .nav-button:hover {
  box-shadow: 0 2px 5px rgba(103, 24, 182, 0.489);
}
body.dark-mode .nav-button,
body.dark-mode .link-btn {
  color: #e0e0e0;
  background: #181a18;
}

body.dark-mode .link-btn:hover {
  color: #f7f7ec;
}

body.dark-mode .section h3 {
  color: #f7f7ec;
}

body.dark-mode .cert:hover {
  color: #f7f7ec;
  box-shadow: 0 5px 12px rgba(103, 24, 182, 0.489);
}

body.dark-mode .cert {
  color: #764ba2;
}

body.dark-mode .skill {
  color: #764ba2;
  transition-duration: 0.2s;
}

body.dark-mode .skill:hover {
  color: #f7f7ec;
  box-shadow: 0 2px 5px rgba(103, 24, 182, 0.489);
}

body.dark-mode .project-card h3 {
  color: #764ba2;
}

body.dark-mode .project-card p {
  color: #f7f7ec;
}

body.dark-mode .project-card:hover {
  box-shadow: 0 2px 5px rgba(103, 24, 182, 0.489);
}

body.dark-mode #page-title {
  color: #f7f7ec;
}

body.dark-mode .age {
  color: #f7f7ec;
}

body.dark-mode #footer-span {
  color: #f7f7ec;
  font-family: "Lalezar", Tahoma, sans-serif;
}

body.dark-mode footer {
  color: #f7f7ec;
  background: #1a1a2e;
}
